# Output directory
JOBS_DIR=./jobs
SOURCE_ROOT_DIR=
PUBLIC_BASE_URL=http://localhost:9000
DOWNLOAD_ROOT_DIR=downloads

# HTTP server port
PORT=8080

# Local timing overrides
# Set to short values for testing purposes
JOB_TTL=1m
CLEANUP_TICK=10s
